.container__menu-title{
  color: white;

}
.container__logo {
  display: flex;
  justify-content: center;
}

.container__logo > h1 {
  margin-bottom: 10px;
  font-size: 135px;
  font-family: 'segoe UI';

}

.container__logo > img{

  width: 230px;
  margin-left: 10px;
}
