.container__small-card {
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 300px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}


.small-card__description > p {
  margin-top: 15px;
  margin-bottom: 15px;
  color: grey;
}

.container__small-card__separator {
  margin-top: 10px;

}
