<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://images5.alphacoders.com/130/1302858.jpg"
    cardTitle="Tips to welcome your New Cat"
    cardDescription="When you first adopt a cat or kitten, you will need to help them gently settle in to their new home. A change of environment is always stressful for a cat, so it will often take a few weeks for them to feel relaxed in their new abode. Following the advice here will help them to successfully adapt to their new surroundings."
    >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://www.cheshireandwain.com/cdn/shop/files/Leather_Cat_Collars_Breakaway_Safety_Cheshire_Wain.jpg?v=1689771085&width=2400"
      cardTitle="Cat collars – yes or no??"
      cardDescription="When it comes to deciding whether or not your cat should wear a collar, it’s down to personal choice. There are all sorts of reasons why cat guardians feel that their feline companion would benefit from wearing a collar. However, it always helps to make an informed decision. "
    >
    </app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://img.cutenesscdn.com/-/clsd/getty/b05b855dfc244eaabdc4f345ae9e9f05.jpg"
      cardTitle="Can I keep my indoor/outdoor cat inside only?"
      cardDescription="Just as modern dogs are far removed from their wolf roots, cats have also evolved away from their safari-prowling ancestors. They're now domesticated animals perfectly capable of thriving in safe, secure environments. "

    >
    </app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://media.istockphoto.com/id/1313021528/photo/cat-hunting-to-mouse-at-home-burmese-cat-face-before-attack-close-up.jpg?s=612x612&w=0&k=20&c=vc7fqIyLJM-Be3FNp15L345Gz_cihuoUyoBg0rj0FyA="
      cardTitle="Must-Know household hazards for cats"
      cardDescription="Let's delve into the various potential household hazards that can pose a threat to the well-being of cats. Recognizing these hazards is important to ensure a safe living environment for feline companions."

    >
    </app-small-card>

  </div>

</div>
